h1, h2, h3, p, a, li {
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(#f0888d, #0b65c1, #052240);
}

.app {
    width: 50%;
    max-width: 800px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255,255,255,0.3);
    min-height: 100%;
}

h1 {
    margin-top: 0;
    padding-top: 50px;
}

li, p.clickable {
    cursor: pointer;
}

li .not-selected {
    
}

li .selected {
    text-decoration: underline;
    color: darkorange;
}

li .correct {
    color: springgreen;
}

li .incorrect {
    color: crimson;
}